<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.co.metrasat.footballApp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.DetailMatch"
            android:parentActivityName=".activity.HomeActivity"
            android:theme="@style/AppTheme.main" />
        <activity
            android:name=".activity.HomeActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DetailTeam"
            android:parentActivityName=".activity.HomeActivity" />
        <activity
            android:name=".activity.DetailPlayer"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.SearchEvents" />
        <activity android:name=".activity.SearchTeams" />
    </application>

</manifest>